<a href="https://colab.research.google.com/github/alvas-education-foundation/sindhu-course/blob/master/Day_2_session_1_exercise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 '''
1)print multiples of 3 upto 200 using a list
 
'''
list=[]
N=int(input("Enter the limit:"))
for i in range(1,N):
  if i%3==0:
    list.append(i)
print("list:",list)

Enter the limit:200
list: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [2]:
 '''
2. print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)
'''
arr=[]
for i in range(1000,2000):
  if i%5==0 and i%7==0:
    arr.append(i)
print("the numbers divisible by 5 and 7 in between 1000 and 2000 is:\n",arr)

the numbers divisible by 5 and 7 in between 1000 and 2000 is:
 [1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

In [3]:
 '''
3. Add the n number of names in a list and print them alphabetically and reverse alphabetically.
'''
my_str = input("Enter the string:")
 
words = my_str.split()
words.sort()
print("The sorted words are:")
for word in words:
  
  print(word)

Enter the string:It is sorted
The sorted words are:
It
is
sorted