<a href="https://colab.research.google.com/github/alvas-education-foundation/sindhu-course/blob/master/Day_4session_1_examples_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 
result_list = ['True', 'False', 'File not found']
result_string = ''
for result in result_list:
  result_string += result
result_string

'TrueFalseFile not found'

In [2]:
 
result_list = ['True', 'False', 'File not found']
result_string = ''.join(result_list)
result_string

'TrueFalseFile not found'

In [3]:
 
book_info = ' The Three Musketeers: Alexandre Dumas'
formatted_book_info = book_info.strip()
formatted_book_info = formatted_book_info.upper()
formatted_book_info = formatted_book_info.replace(':', ' by')
formatted_book_info

'THE THREE MUSKETEERS by ALEXANDRE DUMAS'

In [4]:
 
book_info = ' The Three Musketeers: Alexandre Dumas'
formatted_book_info = book_info.strip().upper().replace(':', ' by')
formatted_book_info

'THE THREE MUSKETEERS by ALEXANDRE DUMAS'

In [5]:
 
ints_list = [1, 2, 3, 4, 3, 2]
temp = []
for x in ints_list:
    if x not in temp:
        temp.append(x)
ints_list = temp
print(f'Updated List after removing duplicates = {temp}')

Updated List after removing duplicates = [1, 2, 3, 4]

In [6]:
 
ints_list = [1, 2, 3, 4, 3, 2]
ints_list1 = list(set(ints_list))
print(ints_list1)  # [1, 2, 3, 4]

[1, 2, 3, 4]

In [8]:
 
def square(x):
    return x*x
numbers=[1, 2, 3, 4, 5]
sqrList=map(square, numbers)
print(list(sqrList))

[1, 4, 9, 16, 25]

In [9]:
 
def change(string):
      return string[-1] + string[1:-1] + string[0]
string=input("Enter string:")
print("Modified string:",change(string))
print('original string :',string)

Enter string:Sindhu
Modified string: uindhS
original string : Sindhu

In [ ]:
 
def myFunc(e):
  return len(e)
#myfunc=lambda x : len(x)
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key=myFunc)
print(cars)
cars.sort(key=myFunc,reverse=True)
print(cars)
def myFunc(e):
  return e[1]