<a href="https://colab.research.google.com/github/alvas-education-foundation/sindhu-course/blob/master/Day_2_session_1_examples_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 
x=0
print('The greatest no is',max([int(input(x)) for _ in range(int(input("Enter no")))]))

Enter no2
43
85
The greatest no is 85

In [ ]:
 
x=0
l=[int(input(x)) for _ in range(int(input("Enter n")))]
print('even list is',[ i for i in l if i%2])
print('odd list is',[i for i in l if not i%2])

Enter n3
2
6
4
even list is []
odd list is [2, 6, 4]

In [ ]:
 
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
m=[int(input(x)) for _ in range(int(input("Enter how many elements ")))]
new=l+m
new.sort()
print("Sorted list is:",new)

Enter how many elements2
99
66
Enter how many elements 1
45
Sorted list is: [45, 66, 99]

In [ ]:
 
a=[['A',34],['B',21],['C',26],['E',29]]
a.sort(key = lambda x: x[1]) 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

In [ ]:
 
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
l.sort()
print("Second largest element is :",l[-2])

Enter how many elements2
3
5
Second largest element is : 3

In [ ]:
 
a=[(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)]
print(a)
 
# Of course, We can write in the most pythonic way with one line ! as follows
 
print([(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)])

Enter the lower range:2
Enter the upper range:6
[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36)]
Enter the lower range:1
Enter the upper range:2
[(1, 1), (2, 4)]

In [ ]:
 
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:2
Randomised list is:  [14, 8]

In [ ]:
Tuple examples

In [ ]:
 
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)
 
res = list()
for length, word in t:
    res.append(word)
 
print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

In [ ]:
 
 
# Create packed tuple.
pair = ("dog", "cat")
 
# Unpack tuple.
(key, value) = pair
 
# Display unpacked variables.
print(key)
print(value)

dog
cat

In [ ]:
 
pair = ("dog", "cat")
 
# Search for a value.
if "cat" in pair:
    print("Cat found")
 
# Search for a value not present.
if "bird" not in pair:
    print("Bird not found")

Cat found
Bird not found